body {
  font-family: "Anta", sans-serif;
}

.parent-container {
  display: flex;
  justify-content: space-between;
}

.roll-log-parent {
  display: flex;
  flex-direction: column;
}

.num-parent {
  display: flex;
  flex-direction: column;
  
}

li {
  list-style: none;
}


button {
  max-height: 10dvh;

}

.header {
  display: flex;
  justify-content: center;
}

.page-wrapper {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 50px;
}